
.title-content {
    margin: 4rem 0rem 0rem 6rem;
    font-weight: bold;
    font-size: 3.7rem;
}
.title-content2 {
    margin: 0rem 0rem 0rem 6rem;
    font-weight: bold;
    font-size: 3.7rem;
}
.digital{
    background-color: #0B0F15;
    color: white;
}
.description{
    margin: 2rem 0rem 0rem 6rem;
}