

<header>
    <nav>
      <ul class="section-list">
        <li class="top left-aligned"><img src="../assets/images/raven-logo.svg" height="30" /></li>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#contact">Portfolio</a></li>
        <li><a href="#Testimonials">Testimonials</a></li>
        <li><a href="#News">News</a></li>
        <li><a href="#Contacts">Contacts</a></li>
        <li><a href="#Elements">Elements</a></li>
      </ul>
    </nav>
  </header>