
.coloumn{
    background-color: #1B2837 !important;
    margin-right: 2%;
    margin-bottom: 2%;
    width: 23%;
}
.coloumn-title {
    font-weight: bold;
    padding: 20px 0px 20px 15px;
}
.coloumn-content{
    padding: 0 0 10px 15px;
    font-size: .8re
}