<div class="title-left">
    <h3 class="title-text container pt-4 pb-4">
        Our Team
    </h3>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="assets/images/our-team/1.png" alt="team" width="100%">
        </div>
        <div class="col-md-3">
            <img src="assets/images/our-team/1.png" alt="team" width="100%">            
        </div>
        <div class="col-md-3">
            <img src="assets/images/our-team/2.png" alt="team" width="100%">
        </div>
        <div class="col-md-3">
            <img src="assets/images/our-team/3.png" alt="team" width="100%">
        </div>
    </div>
</div>