.stats{
    background-color: #2B61F7;
    color: white;
}
.stats-col{
    padding: 2.5rem;
}
.stats-title{
    font-size: 20px;
    font-weight: bold;
}
.stats-content{
    font-size: 14px;
    font-weight: bold;
    color: #8FC2FF !important;
}