<div class="title-left">
    <h3 class="title-text container pt-4 pb-4">
        Our Works
    </h3>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <img src="assets/images/our-works/dashboard.png" alt="dashboard" style="width: 20vw">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <img src="assets/images/our-works/netflix.png" alt="netflix" style="width: 40vw;">
        </div>
        <div class="col-md-2">
            <img src="assets/images/our-works/tiktok.png" alt="tiktok" style="width: fit-content;">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            not impressed?
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            </div>
            <div>
                <button class="btn btn-primary description">See more</button>
            </div>
        </div>
        <div class="col-md-2">
            <img src="assets/images/our-works/tab.png" alt="tab" style="width: 20vw">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <img src="assets/images/our-works/onething.png" alt="onething" style="width: fit-content;">
        </div>
    </div>
</div>
<div class="row stats mt-4" style="width: 99.6vw">
    <div class="col-md-1"></div>
    <div class="col-md-2 stats-col">
        <div class="stats-title">9854</div>
        <div class="stats-content">Projects
            completed</div>
    </div>
    <div class="col-md-2 stats-col">
        <div class="stats-title">840</div>
        <div class="stats-content">Clients</div>
    </div>
    <div class="col-md-2 stats-col">
        <div class="stats-title">321</div>
        <div class="stats-content">Active 
            clients</div>
    </div>
    <div class="col-md-2 stats-col">
        <div class="stats-title">5410</div>
        <div class="stats-content">cups
            of cofee</div>
    </div>
    <div class="col-md-2 stats-col">
        <div class="stats-title">9854</div>
        <div class="stats-content">Projects
            completed</div>
    </div>
    <div class="col-md-1 stats-col"></div>
</div>