@import '~bootstrap/dist/css/bootstrap.min.css';

body{
    margin:0 !important;
    font-family: Fira Sans, sans-serif;
    background-color: #0B0F15;
    color: white;
}
.title-center{
    text-align: center;
    font-weight: bold;
}
.title-text{
    font-weight: bold;
}
.title-left{
    text-align: left;
    font-weight: bold;
}